{% extends "../base_a_bs.html" %}
{% block crumb %}
<li>
    <a href="{{siteDomain}}Admin/Role/List">角色管理</a>
</li>
<li class="active">角色权限预览</li>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">角色权限设置</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td style="width:60px">
                        角色
                    </td>
                    <td style="width:100px">
                        <select id="roles" name="roles" class="form-control">
                            {% for role in roles %}
                            <option value="{{ role['id'] }}" {% if roleID == role['id'] %} selected {% end %}>{{ role['name']}}</option>
                            {% end %}
                        </select>
                    </td>
                    <td style="width:60px">
                        应用
                    </td>
                    <td style="width:100px">
                        <select id="apps" name="apps" class="form-control">
                            {% for app in apps %}
                            <option value="{{ app['code'] }}" {% if appCode == app['code'] %} selected {% end %}>{{ app['name']}}</option>
                            {% end %}
                        </select>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td style="width:240px">
                        功能
                    </td>
                    <td>
                        权限
                    </td>
                </tr>
                {% for func in funcs %}
                <tr>
                    <td>
                        {% set c = func['path'].count('.') %}
                        {% for i in range(c-1) %}██{% end %}{{ func['name'] }}-Lv{{c}}
                    </td>
                    {% if func['customJson'] == None %}
                    <td>
                        <table class="table table-bordered table-striped table-hover m-0">
                            <tr>
                                <td>
                        <label class="checkbox-inline"><input type="checkbox" disabled value="1" id="right_{{func['id']}}_1" {% if func['right'] & 1 == 1 %} checked {% end %} name="right_{{func['id']}}_1" />浏览</label>
                        <label class="checkbox-inline"><input type="checkbox" disabled value="2" id="right_{{func['id']}}_2" {% if func['right'] & 2 == 2 %} checked {% end %} name="right_{{func['id']}}_2" />新增</label>
                        <label class="checkbox-inline"><input type="checkbox" disabled value="4" id="right_{{func['id']}}_4" {% if func['right'] & 4 == 4 %} checked {% end %} name="right_{{func['id']}}_4" />编辑</label>
                        <label class="checkbox-inline"><input type="checkbox" disabled value="8" id="right_{{func['id']}}_8" {% if func['right'] & 8 == 8 %} checked {% end %} name="right_{{func['id']}}_8" />删除</label>
                        </td>
                            </tr>
                        </table>
                    </td>
                    {% else %}
                    <td class="td">
                        <table class="table table-bordered table-striped table-hover m-0">
                            <tr>
                                <td>
                                    <label class="checkbox-inline"><input type="checkbox" disabled value="1" id="right_{{func['id']}}_1" {% if func['right'] & 1 == 1 %} checked {% end %} name="right_{{func['id']}}_1" />浏览</label>
                                    <label class="checkbox-inline"><input type="checkbox" disabled value="2" id="right_{{func['id']}}_2" {% if func['right'] & 2 == 2 %} checked {% end %} name="right_{{func['id']}}_2" />新增</label>
                                    <label class="checkbox-inline"><input type="checkbox" disabled value="4" id="right_{{func['id']}}_4" {% if func['right'] & 4 == 4 %} checked {% end %} name="right_{{func['id']}}_4" />编辑</label>
                                    <label class="checkbox-inline"><input type="checkbox" disabled value="8" id="right_{{func['id']}}_8" {% if func['right'] & 8 == 8 %} checked {% end %} name="right_{{func['id']}}_8" />删除</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% for j in func['customJson'] %}
                                    <label class="checkbox-inline"><input type="checkbox" disabled value="{{j['k']}}" id="rightcustom_{{func['id']}}_j['k']" {% if j['right'] %} checked {% end %} name="rightcustom_{{func['id']}}_{{j['k']}}" />{{j['v']}}</label>
                                    {% end %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% end %}
                </tr>
                {% end %}
                <tr>
                    <td colspan="2">
                        <div class="col-sm-8 col-sm-offset-2">
                        <a href="{{refUrl}}" id="refUrl" class="btn btn-default">返回</a>
                        <input type="hidden" value="{{refUrl}}" name="refUrl" /> 
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<script language="javascript" type="text/javascript">
    <!--

    var RoleRight = {
        selectRoleApp: function () {
            var roleID = $('#roles').val();
            var appCode = $('#apps').val();
            window.location.href = '{{siteDomain}}Admin/Role/RightDetail?roleID=' + roleID + '&appCode=' + appCode;
        }
    };

    $(document).ready(function () { 
        $(':checkbox').each(function () {
            if (this.checked) {
                $(this.parentNode).addClass('ur');
            }
        });
        $('#roles').bind('change', function () {
            RoleRight.selectRoleApp();
        });
        $('#apps').bind('change', function () {
            RoleRight.selectRoleApp();
        });
    });

    //-->
</script>

{% end %}