{% extends "../base_a_bs.html" %}
{% block crumb %}
<li>
    <a href="{{siteDomain}}Admin/Application/List">应用管理</a>
</li>
<li class="active">应用列表</li>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form action="{{ request.path }}" method="get" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="code" class="sr-only">应用编号</label>
                        <input type="text" name="code" id="code" class="form-control" value="{{ app['code'] }}" placeholder="应用编号" data-toggle="hover" data-original-title="输入需要查询的应用编号" data-placement="bottom" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">应用名称</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ app['name'] }}" placeholder="应用名称" data-toggle="hover" data-original-title="输入需要查询的应用名称" data-placement="bottom" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="status">应用状态</label>
                        <select name="status" id="status" class="form-control" data-toggle="hover" data-original-title="选择需要查询的应用状态" data-placement="bottom">
                            <option value="0" {% if app['status'] == 0 %} selected{% end %}>全部</option>
                            <option value="1" {% if app['status'] == 1 %} selected{% end %}>可用</option>
                            <option value="2" {% if app['status'] == 2 %} selected{% end %}>不可用</option>
                        </select>
                    </div>
                    <div class="form-group" style="float:right;">
                        <a href="{{siteDomain}}Admin/Application/Add" class="btn btn-info">新建应用</a>
                        <button type="submit" class="btn btn-primary" style="width:100px;"><span class="glyphicon glyphicon-search m-r10"></span>查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td style="width:80px">编号</td>
                    <td style="width:90px">应用名称</td>
                    <td style="width:50px">开发人员</td>
                    <td style="width:40px">状态</td>
                    <td style="width:200px">应用url</td>
                    <td style="width:50px">最后更新人</td>
                    <td style="width:60px">最后更新时间</td>
                    <td style="width:80px">操作</td>
                </tr>
                {% for r in pagedata['data'] %}
                <tr {% if r['status'] != 1 %}class="warning"{% end%}>
                    <td>{{ r['code'] }}</td>
                    <td>{{ r['name'] }}</td>
                    <td>{{ r['developer'] }}</td>
                    <td>{{ r['statusname'] }}</td>
                    <td>{{ r['url'] }}</td>
                    <td>{{ r['lastUpdater'] }}</td>
                    <td>{{ str(r['lastUpdateTime'])[0:-3] }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{siteDomain}}Admin/Application/Detail?code={{ r['code'] }}" class="btn btn-primary">查看详情</a>
                              <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" style="height: 34px;">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="{{siteDomain}}Admin/Application/Edit?code={{ r['code'] }}">修改编辑</a></li>
                                <li class="divider"></li>
                                {% if r['status'] == 1 %}
                                <li><a href="{{siteDomain}}Admin/Role/RightEdit?appCode={{ r['code'] }}">权限设置</a></li>
                                {% end%}
                              </ul>
                        </div>
                    </td>
                </tr>
            {% end %}
            </table>
        {% raw pager %}
        </div>
    </div>
</div>
</div>
{% end %}