{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.path }}" method="get">
    <table class="inputtable">
        <tr>
            <td style="width: 60px;">
                编号：
            </td>
            <td style="width: 200px;">
                <input type="text" name="code" value="{{ app['code'] }}" />
            </td>
            <td style="width: 60px;">
                名称：
            </td>
            <td style="width: 200px;">
                <input type="text" name="name" value="{{ app['name'] }}" />
            </td>
            <td style="width: 60px;">
                状态：
            </td>
            <td style="width: 80px;">
                <select name="status">
                    <option value="0" {% if app['status'] == 0 %} selected{% end %}>全部</option>
                    <option value="1" {% if app['status'] == 1 %} selected{% end %}>可用</option>
                    <option value="2" {% if app['status'] == 2 %} selected{% end %}>不可用</option>
                </select>
            </td>
            <td style="text-align: right">
                <a href="{{siteDomain}}Admin/Application/Add" style="margin-right:20px;">创建应用</a>
                <input type="submit" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
    </form>
</div>
<div class="showdiv">
    {% raw pager[0: pager.find('跳转第')] + '</div>' %}
    <table class="showtable">
        <tr class="head">
            <td style="width:80px">
                编号
            </td>
            <td style="width:90px">
                应用名称
            </td>
            <td style="width:50px">
                开发人员
            </td>
            <td style="width:40px">
                状态
            </td>
            <td style="width:200px">
                应用url
            </td>
            <td style="width:50px">
                最后更新人
            </td>
            <td style="width:60px">
                最后更新时间
            </td>
            <td style="width:90px">
                操作
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td style="width:80px">
                {{ r['code'] }}
            </td>
            <td style="width:90px">
                {{ r['name'] }}
            </td>
            <td style="width:50px">
                {{ r['developer'] }}
            </td>
            <td style="width:40px">
                {{ r['statusname'] }}
            </td>
            <td style="width:200px">
                {{ r['url'] }}
            </td>
            <td style="width:50px">
                {{ r['lastUpdater'] }}
            </td>
            <td style="width:80px">
                {{ str(r['lastUpdateTime'])[0:-3] }}
            </td>
            <td style="width:50px">
                <a href="{{siteDomain}}Admin/Application/Detail?code={{ r['code'] }}">详情</a>
                <a href="{{siteDomain}}Admin/Application/Edit?code={{ r['code'] }}">编辑</a>
                <a href="{{siteDomain}}Admin/Role/RightEdit?appCode={{ r['code'] }}">权限设置</a>
                <!-- <a href="javascript:" onclick="App.del('{{r['code']}}')">删除</a> -->
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
<script type="text/javascript" language="javascript">
    <!--
    // var App = {
    //     del: function (code) {
    //         if (!confirm("确定删除该记录吗？")) return false;

    //         $.post('/Admin/Application/Del', { 'code': code , 'ajax': 'ajax'},
    //              function (data) {
    //                  if (0 == data.code) {
    //                      Common.alert('操作成功', window.location.href);
    //                  } else {
    //                      Common.alert('操作失败,'+data.msg);
    //                  }
    //              }, "json");
    //     }
    // };
    //-->
</script>
{% end %}