{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<form action="{{request.path}}" method="GET">
<div class="inputdiv">
    <table class="inputtable">
        <tr>
            <td style="width:100px">
                所属用户组：
            </td>
            <td style="width: 200px;">
                <select id="userGroupID" name="userGroupID">
                    {% for userGroup in userGroups %}
                    <option value="{{ userGroup['id'] }}" {% if userGroupID == userGroup['id'] %} selected {% end %}>{{ userGroup['name']}}</option>
                    {% end %}
                </select>
            </td>
            <td style="width:100px">
                需绑定用户：
            </td>
            <td style="width: 200px;">
                <label id="userinfo" class="red">{{ userInfo }}</label>
                <input type="hidden" id="userID" name="userID" value="{{userID}}" />
            </td>
            <td colspan="2" style="text-align: right">
                <a href="{{siteDomain}}Admin/UserGroup/UserList?userGroupID={{userGroupID}}" style="margin-right:20px;">返回用户组绑定用户列表</a>
                <input type="button" id="btBind" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="绑定" />
            </td>
        </tr>
    </table>
</div>
<div class="inputdiv">
    <table class="inputtable">
        <tr>
            <td colspan="3">
                用户搜索：
            </td>
        </tr>
        <tr>
            <td style="width:100px">
                用户名：
            </td>
            <td style="width: 200px;">
                <input type="text" id="userName" name="userName" value="{{userName}}" />
            </td>
            <td style="text-align: right">
                <input type="submit" id="btSearch" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
</div>
</form>
<div class="showdiv">
    <table class="showtable">
        <tr class="head">
            <td style="width:40px">
                编号
            </td>
            <td style="width:60px">
                用户名
            </td>
            <td style="width:60px">
                姓名
            </td>
            <td style="width:60px">
                电子邮箱
            </td>
            <td style="width:70px">
                手机
            </td>
            <td style="width:50px">
                操作
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td>
                {{ r['id'] }}
            </td>
            <td id="userName_{{ r['id'] }}">
                {{ r['name'] }}
            </td>
            <td id="realName_{{ r['id'] }}">
                {{ r['realName'] }}
            </td>
            <td>
                {{ r['email'] }}
            </td>
            <td>
                {{ r['mobile'] }}
            </td>
            <td>
                <a href="javascript:" onclick="UserGroupUser.select('{{r['id']}}');">选择</a>
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
<script type="text/javascript" language="javascript">
    <!--
    var UserGroupUser = {
        select: function (id) {
            $('#userinfo').html($('#userName_' + id).html() + '--' + $('#realName_'+id).html());
            $('#userID').val(id);
        },
        bind: function () {
            var userID = $('#userID').val();
            var userGroupID = $('#userGroupID').val();
            if (userID == '') {
                Common.alert('请先选择用户');
                return;
            }

            $.post('/Admin/UserGroup/UserBind', { 'userGroupID': userGroupID, 'userID': userID, 'ajax': 'ajax' },
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功');
                     } else {
                         Common.alert('操作失败,' + data.msg);
                     }
                 }, "json");
        }
    };

    $(document).ready(function () {
        $('#userGroupID').bind('change', function () {
            $('#btSearch').click();
        });
        $('#btBind').bind('click', function () {
            UserGroupUser.bind();
        });
    });
    //-->
</script>
{% end %}