{% extends "../base_a_bs.html" %}
{% block crumb %}
<li>
    <a href="{{siteDomain}}Admin/UserGroup/List">用户管理</a>
</li>
<li class="active">绑定用户列表</li>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">用户组信息</div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="userGroupName" class="sr-only">用户组名</label>
                        <input type="text" name="userGroupName" id="userGroupName" value="{{ userGroupName }}" class="form-control" title="用户组名" disabled />
                        <input type="hidden" id="userGroupID" name="userGroupID" value="{{userGroupID}}" />
                    </div>
                    <div class="form-group" style="float:right;">
                        <a class="btn btn-default" href="{{refUrl}}" id="refUrl">返回</a>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modelinfo" onclick="UserGroupUser.queryUser();">绑定新的用户</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div id="pagediv" class="panel-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">选择用户</h4>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">                        
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label for="userName" class="sr-only">用户名</label>
                                    <input type="text" name="userName" id="userName" value="" class="form-control" placeholder="用户名" data-toggle="hover" data-original-title="输入需要查询的用户名" data-placement="bottom" />
                                </div>
                                <div class="form-group">
                                    <label for="userRealName" class="sr-only">用户姓名</label>
                                    <input type="text" name="userRealName" id="userRealName" value="" class="form-control" placeholder="用户姓名" data-toggle="hover" data-original-title="输入需要查询的用户姓名" data-placement="bottom" />
                                </div>
                                <div class="form-group" style="float:right;">
                                    <button type="button" class="btn btn-primary" style="width:100px;" onclick="UserGroupUser.queryUser();"><span class="glyphicon glyphicon-search m-r10"></span>查询</button>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div id="querydiv" class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript">
    <!--

    var UserGroupUser = {
        _queryUserNameKey : '',
        _queryUserRealName : '',
        del: function (id, userGroupID) {
            if (!confirm("确定删除该记录吗？")) return false;

            $.post('{{siteDomain}}Admin/UserGroup/UserDel?' + Math.random(), { 'id': id, 'userGroupID': userGroupID, 'ajax': 'ajax' },
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功');
                         UserGroupUser.queryBindUser(1);
                     } else {
                         Common.alert('操作失败,' + data.msg);
                     }
                 }, "json");
        },
        bind: function (userID) {
            var userGroupID = $('#userGroupID').val();
            if (userGroupID == '') {
                Common.alert('请先选择用户组');
                return;
            }
            $.post('/Admin/UserGroup/UserBind?' + Math.random(), { 'userGroupID': userGroupID, 'userID': userID, 'ajax': 'ajax' },
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功');
                         $('#modelinfo').modal('hide');
                         UserGroupUser.queryBindUser(1);
                     } else {
                         Common.alert('操作失败,' + data.msg);
                     }
                 }, "json");
        },
        queryUserPage : function(page){
            $.post('{{siteDomain}}Admin/User/Query?' + Math.random(), { 'name': UserGroupUser._queryUserNameKey, 'realName': UserGroupUser._queryUserRealName, 'status': '1', 'page': page, 'ajax': 'ajax' },
                 function (data) {
                    if (0 == data.code) {
                        UserGroupUser._buileQueryPageHtml(data.data.page, data.data.size, data.data.pagetotal, data.data.total, data.data.data);
                    } else {
                        Common.alert('操作失败,' + data.msg);
                    }
                 }, "json");
        },
        queryUser: function () {
            var userName = $('#userName').val();
            var userRealName = $('#userRealName').val();
            UserGroupUser._queryUserNameKey = userName;
            UserGroupUser._queryUserRealName = userRealName;
            UserGroupUser.queryUserPage(1);
        },
        _buileQueryPageHtml : function(page, size, pagetotal, total, ls){
            var html = ' <table class="table table-bordered table-striped table-hover table-condensed"><tr>'+
'                    <td style="width:40px">'+
'                        编号'+
'                    </td>'+
'                    <td style="width:100px">'+
'                        用户名'+
'                    </td>'+
'                    <td style="width:100px">'+
'                        用户姓名'+
'                    </td>'+
'                    <td style="width:50px">'+
'                        操作'+
'                    </td>'+
'                </tr> ';
            
            if(undefined != ls && ls.length > 0){
                for(var i = 0; i < ls.length ; i++){
                    html += ' <tr>'+
                            '            <td>'+
                            '                '+ ls[i].id +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].name +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].realName +
                            '            </td>'+
                            '            <td>'+                            
                            '                <a href="javascript:" onclick="UserGroupUser.bind(\''+ ls[i].id +'\')" class="btn btn-primary btn-xs">绑定</a>'+
                            '            </td>'+
                            '        </tr> ';
                }
            }
            html += '</table>';
            html += '<div class="row"><div style="padding: 20px;" class="col-md-8"><span>共&nbsp;'+total+'&nbsp;条记录&nbsp;&nbsp;&nbsp;分&nbsp;'+pagetotal+'&nbsp;页&nbsp;&nbsp;&nbsp;每页&nbsp;'+size+'&nbsp;条记录</span></div>';
            html += '<div class="col-md-4"><ul class="pagination">';
            if(page <= 1){
                html += '<li class="disabled"><span>&laquo;</span></li>';
            }else{
                pre = page - 1;
                html += '<li><a href="javascript:UserGroupUser.queryUserPage('+pre+')">&laquo;</a></li>';
            }
            if(page >= pagetotal){
                html += '<li class="disabled"><span>&raquo;</span></li>';
            }else{
                next = page + 1;
                html += '<li><a href="javascript:UserGroupUser.queryUserPage('+next+')">&raquo;</a></li>';
            }
            html += '</ul></div></div>';
            pd = $('#querydiv');
            pd.empty();
            pd.html(html);
        },
        queryBindUser : function(page){
            var userGroupID = $('#userGroupID').val();

            $.post('{{siteDomain}}Admin/UserGroup/UserQuery?' + Math.random(), { 'userGroupID': userGroupID, 'page': page, 'ajax': 'ajax' },
                 function (data) {
                    if (0 == data.code) {
                        UserGroupUser._buileBindPageHtml(data.data.page, data.data.size, data.data.pagetotal, data.data.total, data.data.data);
                    } else {
                        Common.alert('操作失败,' + data.msg);
                    }
                 }, "json");

        },
        _buileBindPageHtml : function(page, size, pagetotal, total, ls){
            var html = ' <table class="table table-bordered table-striped table-hover"><tr>'+
'                    <td style="width:40px">'+
'                        编号'+
'                    </td>'+
'                    <td style="width:40px">'+
'                        用户编号'+
'                    </td>'+
'                    <td style="width:120px">'+
'                        用户名'+
'                    </td>'+
'                    <td style="width:120px">'+
'                        姓名'+
'                    </td>'+
'                    <td style="width:60px">'+
'                        绑定人'+
'                    </td>'+
'                    <td style="width:50px">'+
'                        绑定时间'+
'                    </td>'+
'                    <td style="width:50px">'+
'                        操作'+
'                    </td>'+
'                </tr> ';
            
            var userGroupID = $('#userGroupID').val();
            if(undefined != ls && ls.length > 0){
                for(var i = 0; i < ls.length ; i++){
                    html += ' <tr>'+
                            '            <td>'+
                            '                '+ ls[i].id +
                            '            </td>'+
                            '            <td>'+
                            '               '+ ls[i].userID +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].userName +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].userRealName +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].creater +
                            '            </td>'+
                            '            <td>'+
                            '                '+ ls[i].createTime +
                            '            </td>'+
                            '            <td>'+
                            '                <a href="{{siteDomain}}Admin/User/Detail?id='+ ls[i].userID +'" class="btn btn-primary">用户组详情</a>'+
                            '                <a href="javascript:" onclick="UserGroupUser.del(\''+ ls[i].id +'\',\''+ userGroupID +'\')" class="btn btn-primary">取消绑定</a>'+
                            '            </td>'+
                            '        </tr> ';
                }
            }
            html += '</table>';
            html += '<div class="row"><div class="col-md-5"></div><div style="padding: 20px;" class="col-md-5"><span>共&nbsp;'+total+'&nbsp;条记录&nbsp;&nbsp;&nbsp;分&nbsp;'+pagetotal+'&nbsp;页&nbsp;&nbsp;&nbsp;每页&nbsp;'+size+'&nbsp;条记录</span></div>';
            html += '<div class="col-md-2"><ul class="pagination">';
            if(page <= 1){
                html += '<li class="disabled"><span>&laquo;</span></li>';
            }else{
                pre = page - 1;
                html += '<li><a href="javascript:UserGroupUser.queryBindUser('+pre+')">&laquo;</a></li>';
            }
            if(page >= pagetotal){
                html += '<li class="disabled"><span>&raquo;</span></li>';
            }else{
                next = page + 1;
                html += '<li><a href="javascript:UserGroupUser.queryBindUser('+next+')">&raquo;</a></li>';
            }
            html += '</ul></div></div>';
            pd = $('#pagediv');
            pd.empty();
            pd.html(html);
        }


    };

    $(document).ready(function(){
        UserGroupUser.queryBindUser(1);
    });
    //-->
</script>
{% end %}