{% extends "../base_bs.html" %} {% block head %} {% end %} {% block body %}
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10 col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        {% block crumb %}{% end %}
      </ol>
  </div>
  <div class="col-lg-1">
  </div>
</div>

<div id="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10 col-md-12">
      {% block content %}{% end %}
  </div>
  <div class="col-lg-1">
  </div>
</div>
{% end %}
