{% extends "../base.html" %} {% block head %}
<link rel="stylesheet" href="{{ jsDomain }}js/zTree/zTreeStyle/zTreeStyle.css?{{ version }}" type="text/css" />
<script type="text/javascript" src="{{ jsDomain }}js/zTree/jquery.ztree.core-3.2.min.js?{{ version }}"></script>
{% end %} {% block body %}

<table style="height: 100%; width: 100%;" class="linetable">
    <tr>
        <td id="head" class="head" colspan="3">
            <h1 class="title">
                {{siteName}}</h1>
            <!--<div class="funcs">
                <a href="javascript:;" class="logout" id="reflush">刷新页面</a></div>-->
            <div class="userinfo">
                欢迎您：{{user['realName']}}<a href="{{siteDomain}}Admin/Logout" class="logout">退出登录</a></div>
        </td>
    </tr>
    <tr>
<style type="text/css">
.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
.ztree li ul.level0 {padding:0; background:none;}
</style>
        <td id="menumain" class="menumain">
            <ul id="menu" class="ztree">
            </ul>
        </td>
        <td id="menucon" class="menucon">
            》<br />
            《
        </td>
        <td id="body" style="width: auto; padding: 0;">
            <iframe name="content" id="content" src="{{siteDomain}}Admin/Application/List" height="100%" width="100%"
                    border="0" frameborder="0">浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
        </td>
    </tr>
    <tr>
        <td id="foot" class="foot" colspan="3">
            1
        </td>
    </tr>
</table>
<script type="text/javascript">
        <!--
    function initWindow() {
        var height = $(window).height();
        var head = $('#head').height();
        var foot = $('#foot').height();
        var h = height - head - foot - 8;
        if (h > 300) {
            $('#body').height(h);
        } else {
            $('#body').height(300);
        }
    }

    function close_show_menu() {
        $('#menumain').toggle();
    }

    var zTreesetting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };

    var zTreeNodes = [
        { id: 1, pId: 0, name: "{{siteName}}", open: true },
        { id: 30, pId: 1, name: "部门管理", open: true },
        { id: 31, pId: 30, name: "部门列表", url: "{{siteDomain}}Admin/Department/List", target: "content" },
        { id: 32, pId: 30, name: "创建部门", url: "{{siteDomain}}Admin/Department/Add", target: "content" },
        { id: 2, pId: 1, name: "应用功能管理", open: true },
		{ id: 3, pId: 2, name: "应用列表", url: "{{siteDomain}}Admin/Application/List", target: "content" },
		{ id: 4, pId: 2, name: "创建应用", url: "{{siteDomain}}Admin/Application/Add", target: "content" },
		{ id: 5, pId: 2, name: "功能列表", url: "{{siteDomain}}Admin/Func/List", target: "content" },
        { id: 5, pId: 2, name: "功能编辑", url: "{{siteDomain}}Admin/Func/Edit", target: "content" },
		{ id: 10, pId: 1, name: "用户管理", open: true },
        { id: 11, pId: 10, name: "用户列表", url: "{{siteDomain}}Admin/User/List", target: "content" },
        { id: 12, pId: 10, name: "创建用户", url: "{{siteDomain}}Admin/User/Add", target: "content" },
        { id: 13, pId: 10, name: "用户组列表", url: "{{siteDomain}}Admin/UserGroup/List", target: "content" },
        { id: 14, pId: 10, name: "创建用户组", url: "{{siteDomain}}Admin/UserGroup/Add", target: "content" },
        { id: 20, pId: 1, name: "角色管理", open: true },
        { id: 21, pId: 20, name: "角色列表", url: "{{siteDomain}}Admin/Role/List", target: "content" },
        { id: 22, pId: 20, name: "创建角色", url: "{{siteDomain}}Admin/Role/Add", target: "content" },
        { id: 40, pId: 1, name: "操作日志", open: true },
        { id: 41, pId: 40, name: "日志列表", url: "{{siteDomain}}Admin/OperLog/List", target: "content" }
	];

    function zTreeOnClick(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        if (treeNode.pId > 0) {
            zTree.expandNode(treeNode);
        }
    }

    $(document).ready(function () {
        initWindow();
        $.fn.zTree.init($("#menu"), zTreesetting, zTreeNodes);
        $(window).resize(function () {
            initWindow();
        });
        $('#menucon').click(function () {
            close_show_menu();
        });
        $('#reflush').bind('click', function () {
            $('#content')[0].location.reload();
        });
    });
    //-->
</script>
{% end %}