{% extends "../../base.html" %} {% block head %} 
<script language="JavaScript" type="text/javascript" src="{{ jsDomain }}js/My97DatePicker/WdatePicker.js?{{ version }}"></script>
{% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.path }}" method="get">
    <table class="inputtable">
        <tr>
            <td style="width: 60px;">
                用户ID：
            </td>
            <td style="width: 200px;">
                <input type="text" name="operID" value="{{ operLog['operID'] }}" />
            </td>
            <td style="width: 60px;">
                用户名：
            </td>
            <td style="width: 200px;">
                <input type="text" name="operUserName" value="{{ operLog['operUserName'] }}" />
            </td>
            <td style="width: 60px;">
                类型：
            </td>
            <td style="width: 80px;">
                <select name="action">
                    <option value="">全部</option>
                    {% for k in actions.keys() %}
                    <option value="{{k}}" {% if operLog['action'] == k %} selected{% end %}>{{actions[k]}}</option>
                    {% end %}
                </select>
            </td>
            <td style="text-align: right">
                {% if ExportType == True %}
                <a href="{{siteDomain}}Admin/OperLog/Export?action={{operLog['action']}}&operUserName={{operLog['operUserName']}}&operID={{operLog['operID']}}&beginTime={{operLog['beginTime']}}&endTime={{operLog['endTime']}}" target="_blank" style="margin-right:20px;">导出结果</a>
                {% end %}
            </td>
        </tr>
        <tr>
            <td style="width: 60px;">
                开始日期：
            </td>
            <td style="width: 200px;">
                <input type="text" onfocus="WdatePicker()" value="{{operLog['beginTime']}}" id="beginTime" name="beginTime" class="Wdate" readonly="">
            </td>
            <td style="width: 60px;">
                结束日期：
            </td>
            <td style="width: 200px;">
                <input type="text" onfocus="WdatePicker()" value="{{operLog['endTime']}}" id="endTime" name="endTime" class="Wdate" readonly="">
            </td>
            <td style="width: 60px;">

            </td>
            <td style="width: 80px;">
                
            </td>
            <td style="text-align: right">
                <input type="submit" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
    </form>
</div>
<div class="showdiv">
    {% raw pager[0: pager.find('跳转第')] + '</div>' %}
    <table class="showtable">
        <tr class="head">
            <td style="width:80px">
                编号
            </td>
            <td style="width:150px">
                操作人
            </td>
            <td style="width:50px">
                应用编号
            </td>
            <td style="width:40px">
                动作
            </td>
            <td style="width:200px">
                操作目标
            </td>
            <td style="width:50px">
                操作IP
            </td>
            <td style="width:60px">
                操作时间
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td style="width:80px">
                {{ r['id'] }}
            </td>
            <td style="width:150px">
                {{ r['operID'] }}/{{ r['operUserName'] }}/{{ r['operRealName'] }}
            </td>
            <td style="width:50px">
                {{ r['appCode'] }}
            </td>
            <td style="width:40px">
                {{ r['actionname'] }}
            </td>
            <td style="width:200px">
                {{ r['targetID'] }}/{{ r['targetName'] }}
            </td>
            <td style="width:50px">
                {{ r['operIp'] }}
            </td>
            <td style="width:80px">
                {{ str(r['operTime'])[0:-3] }}
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
{% end %}