<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>Tree权限管理平台</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="../app/static/css/style.css" type="text/css" />
    <script type="text/javascript" src="../app/static/js/jquery.min.1.7.2.js"></script>
</head>
<body>
    <div class="titlediv">
        <h1>
            应用列表</h1>
    </div>
    <div>
        <table class="inputtable">
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
        </table>
    </div>
    <div class="showdiv">
        <table class="showtable">
            <tr class="head">
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
        </table>
        <div style="margin: auto; margin-top: 3px; width: 99%; border: dashed #ccc 1px; text-align: right;
                                                font-size: 12px;">
            <label style="margin-right: 20px;">
                共100条记录&nbsp;&nbsp;分10页&nbsp;&nbsp;每页10个节目</label>
            <a disabled style="margin-right: 5px;">第一页</a> <a disabled="disabled" style="margin-right: 5px;">
                                                               上一页</a>
            <label style="font-weight: Bold; color: red; margin-right: 5px;">
                [1]</label>
            <a style="margin-right: 5px;" title="转到第2页" href="http://www.kanchene.com/">
                [&nbsp;2&nbsp;]</a> 
            <a style="margin-right: 5px;" title="转到第2页" href="http://www.kanchene.com/">
                【3】</a>  
            <a style="margin-right: 5px;" title="转到第2页" href="http://www.kanchene.com/">
                [4]</a>
            
            <a href="http://www.kanchene.com/" title="转到第8页"
               style="margin-right: 5px;">....</a> 
            <a href="http://www.kanchene.com/" style="margin-right: 5px;" title="转到下一页">
                下一页</a> <a href="http://www.kanchene.com/" style="margin-right: 5px;"
                           title="转到最末页">最末页</a> 
        </div>
    </div>
    <script type="text/javascript" language="javascript">
    <!--
        $(document).ready(function () {
            $(".showtable tr").mouseover(function () { 
                $(this).addClass("over");
            }).mouseout(function () { 
                $(this).removeClass("over");
            }) //移除该行的class  
            $(".showtable tr:odd").addClass("alt");
        }); 
    //-->
    </script>
</body>
</html>
