<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>无标题文档</title>
    <style type="text/css">
<!--
body {
	margin: 0;
}
.STYLE1 {
	color: #43860c;
	font-size: 12px;
}
-->
</style>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="24" background="../app/static/images/main_47.gif">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="29" height="24">
                            <img src="../app/static/images/main_45.gif" width="29" height="24" />
                        </td>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="369">
                                        <span class="STYLE1">版本 2008V1.0 </span>
                                    </td>
                                    <td width="814" class="STYLE1">
                                        &nbsp;
                                    </td>
                                    <td width="185" nowrap="nowrap" class="STYLE1">
                                        <div align="center">
                                            <img src="../app/static/images/main_51.gif" width="12" height="12" />
                                            如有疑问请与技术人员联系</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="14">
                            <img src="../app/static/images/main_49.gif" width="14" height="24" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
