{% extends "../../base.html" %} {% block head %} 
<script language="JavaScript" type="text/javascript" src="{{ jsDomain }}js/My97DatePicker/WdatePicker.js?{{ version }}"></script>
{% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.uri }}" method="post">
        <table class="inputtable">
            {% if isedit %}
            <tr>
                <td style="width: 100px;">
                    编号：<span class="red">*</span>
                </td>
                <td>
                    {{ user['id'] }}
                    <input type="hidden" name="id" value="{{ user['id'] }}" />
                </td>
            </tr>
            {% end %}
            <tr>
                <td style="width: 100px;">
                    用户名(唯一)：<span class="red">*</span>
                </td>
                <td>
                    {% if isedit %}
                    {{ user['name'] }}
                    <input type="hidden" name="name" value="{{ user['name'] }}" />
                    {% else %}
                    <input type="text" name="name" value="{{ user['name'] }}" />
                    {% end %}
                </td>
            </tr>
            <tr>
                <td style="width: 100px;">
                    姓名：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="realName" value="{{ user['realName'] }}" />
                    <input type="hidden" name="parentID" value="0" />
                    <input type="hidden" name="role" value="{{roleID}}" />
                    <input type="hidden" name="userGroup" value="{{userGroupID}}" />
                </td>
            </tr>
            <tr>
                <td>
                    电子邮箱(唯一)：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="email" value="{{ user['email'] }}" />
                </td>
            </tr>
            {% if not isedit %}
            <tr>
                <td>
                    初始密码：<span class="red">*</span>
                </td>
                <td>
                    <input type="password" name="passWord" value="{{ user['passWord'] }}" />
                </td>
            </tr>
            {% end %}
            <tr>
                <td>
                    部门：<span class="red">*</span>
                </td>
                <td>
                    <select name="departmentID">
                        {% for d in deps %}
                        <option value="{{d['id']}}" {% if d['id'] == user['departmentID'] %} selected{% end %}>{{d['name']}}</option>
                        {% end %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    有效日期：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" class="Wdate" name="beginDate" id="beginDate" value="{{ user['beginDate'] }}" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'2037-10-01\'}',readOnly:true})" /> -- <input type="text" class="Wdate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}',maxDate:'2037-10-01',readOnly:true})" name="endDate" id="endDate" value="{{ user['endDate'] }}" />
                </td>
            </tr>
            <tr>
                <td>
                    手机：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="mobile" value="{{ user['mobile'] }}" />
                </td>
            </tr>
            <tr>
                <td>
                    电话：
                </td>
                <td>
                    <input type="text" name="tel" value="{{ user['tel'] }}" />
                </td>
            </tr>
            <tr>
                <td>
                    状态：<span class="red">*</span>
                </td>
                <td>
                    <select name="status">
                    {% for k in userStatus.keys() %}
                    <option value="{{k}}" {% if k == user['status'] %} selected{% end %}>{{userStatus[k]}}</option>
                    {% end %}
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    备注：
                </td>
                <td>
                    <textarea rows="8" cols="40" name="remark">{{ user['remark'] }}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:120px; height:40px;">
                    <input type="submit" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" value="提交" />
                    <input type="button" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" onclick="window.history.go(-1);" value="返回" />   
                    {% if isedit and ResetPasswordType == True %}
                    <input type="button" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" onclick="User.resetPassWord('{{ user['name'] }}');" value="重置密码" id="btResetPW" />
                    <lable id="showResetPassWord" class="red"></lable>
                    {% end %}
                <input type="hidden" value="{{refUrl}}" name="refUrl" /> 
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" language="javascript">
    <!--
    var User = {
        resetPassWord: function (name) {
            if (!confirm("确定重置用户【{{ user['realName'] }}】的密码吗？")) {
                return false;
            }

            $.post('/Admin/User/ResetPassWord', { 'name': name, 'ajax': 'ajax' },
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功', '');
                         $('#showResetPassWord').text("用户新密码：" + data.data.newpw + "。请注意保存。");
                     } else {
                         Common.alert('操作失败,' + data.msg);
                     }
                 }, "json");
        }
    };
    //-->
</script>
{% end %}