{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.uri }}" method="post">
        <table class="inputtable">
            {% if isedit %}
            <tr>
                <td style="width: 100px;">
                    编号：<span class="red">*</span>
                </td>
                <td>
                    {{ user['id'] }}
                    <input type="hidden" name="id" value="{{ user['id'] }}" />
                </td>
            </tr>
            {% end %}
            <tr>
                <td style="width: 100px;">
                    用户名(唯一)：<span class="red">*</span>
                </td>
                <td>
                    {% if isedit %}
                    {{ user['name'] }}
                    <input type="hidden" name="name" value="{{ user['name'] }}" />
                    {% else %}
                    <input type="text" name="name" value="{{ user['name'] }}" />
                    {% end %}
                </td>
            </tr>
            <tr>
                <td style="width: 100px;">
                    姓名：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="realName" value="{{ user['realName'] }}" />
                    <input type="hidden" name="parentID" value="0" />
                </td>
            </tr>
            <tr>
                <td>
                    电子邮箱(唯一)：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="email" value="{{ user['email'] }}" />
                </td>
            </tr>
            {% if not isedit %}
            <tr>
                <td>
                    初始密码：<span class="red">*</span>
                </td>
                <td>
                    <input type="password" name="passWord" value="{{ user['passWord'] }}" />
                </td>
            </tr>
            {% end %}
            <tr>
                <td>
                    手机：<span class="red">*</span>
                </td>
                <td>
                    <input type="text" name="mobile" value="{{ user['mobile'] }}" />
                </td>
            </tr>
            <tr>
                <td>
                    电话：
                </td>
                <td>
                    <input type="text" name="tel" value="{{ user['tel'] }}" />
                </td>
            </tr>
            <tr>
                <td>
                    状态：<span class="red">*</span>
                </td>
                <td>
                    <select name="status">
                        <option value="1" {% if user['status'] == 1 %} selected{% end %}>在职</option>
                        <option value="2" {% if user['status'] == 2 %} selected{% end %}>离职</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    备注：
                </td>
                <td>
                    <textarea rows="8" cols="40" name="remark">{{ user['remark'] }}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:120px; height:40px;">
                    <input type="submit" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" value="提交" />
                    <input type="button" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" onclick="window.history.go(-1);" value="返回" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% end %}