{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.path }}" method="get">
    <table class="inputtable">
        <tr>
            <td style="width: 60px;">
                用户名：
            </td>
            <td style="width: 200px;">
                <input type="text" name="name" value="{{ user['name'] }}" />
                <input type="hidden" name="id" value="{{ user['id'] }}" />
            </td>
            <td style="width: 60px;">
                姓名：
            </td>
            <td style="width: 200px;">
                <input type="text" name="realName" value="{{ user['realName'] }}" />
            </td>
            <td style="width: 60px;">
                状态：
            </td>
            <td style="width: 200px;">
                <select name="status">
                    <option value="0">全部状态</option>
                    {% for k in userStatus.keys() %}
                    <option value="{{k}}" {% if k == user['status'] %} selected{% end %}>{{userStatus[k]}}</option>
                    {% end %}
                </select>
            </td>
            <td style="width: 60px;">
                所属部门：
            </td>
            <td style="width: 80px;">
                <select name="departmentID">
                    <option value="0">全部部门</option>
                    {% for d in deps %}
                    <option value="{{d['id']}}" {% if d['id'] == user['departmentID'] %} selected{% end %}>{{d['name']}}</option>
                    {% end %}
                </select>
                <input type="hidden" name="mobile" value="{{ user['mobile'] }}" />
                <input type="hidden" name="tel" value="{{ user['tel'] }}" />
                <input type="hidden" name="email" value="{{ user['email'] }}" />
            </td>
            <td style="text-align: right">
                <a href="{{siteDomain}}Admin/User/Add" style="margin-right:20px;">创建用户</a>
                <input type="submit" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
    </form>
</div>
<div class="showdiv">
    <table class="showtable">
        <tr class="head">
            <td style="width:20px">
                编号
            </td>
            <td style="width:60px">
                用户名
            </td>
            <td style="width:60px">
                姓名
            </td>
            <td style="width:80px">
                部门
            </td>
            <td style="width:20px">
                状态
            </td>
            <td style="width:50px">
                创建更新人
            </td>
            <td style="width:60px">
                创建时间
            </td>
            <td style="width:50px">
                最后更新人
            </td>
            <td style="width:60px">
                最后更新时间
            </td>
            <td style="width:150px">
                操作
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td>
                {{ r['id'] }}
            </td>
            <td>
                {{ r['name'] }}
            </td>
            <td>
                {{ r['realName'] }}
            </td>
            <td>
                {{ r['departmentName'] }}
            </td>
            <td>
                {{ r['statusname'] }}
            </td>
            <td>
                {{ r['creater'] }}
            </td>
            <td>
                {{ str(r['createTime'])[0:-3] }}
            </td>
            <td>
                {{ r['lastUpdater'] }}
            </td>
            <td>
                {{ str(r['lastUpdateTime'])[0:-3] }}
            </td>
            <td>
                <a href="{{siteDomain}}Admin/User/RightDetail?userID={{ r['id'] }}">权限预览</a>
                <a href="{{siteDomain}}Admin/User/RoleList?userID={{ r['id'] }}">所属角色</a>
                <a href="{{siteDomain}}Admin/User/GroupList?userID={{ r['id'] }}">所属用户组</a>
                <a href="{{siteDomain}}Admin/User/Detail?id={{ r['id'] }}">详情</a>
                <a href="{{siteDomain}}Admin/User/Edit?id={{ r['id'] }}">编辑</a>
                <a href="javascript:" onclick="User.del('{{r['id']}}')">删除</a>
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
<script type="text/javascript" language="javascript">
    <!--
    var User = {
        del: function (id) {
            if (!confirm("确定删除该记录吗？")) return false;

            $.post('/Admin/User/Del', { 'id': id, 'ajax': 'ajax' },
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功', window.location.href);
                     } else {
                         Common.alert('操作失败,'+data.msg);
                     }
                 }, "json");
        }
    };
    //-->
</script>
{% end %}