{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<form action="{{request.path}}" method="GET">
<div class="inputdiv">
    <table class="inputtable">
        <tr>
            <td style="width:100px">
                用户信息：
            </td>
            <td style="width: 200px;">
                <label id="userInfo" class="red">{{userInfo}}</label>
                <input type="hidden" id="userID" name="userID" value="{{userID}}" />
            </td>
            <td style="width:100px">
                角色名：
            </td>
            <td style="width: 200px;">
                <label id="roleInfo" class="red">{{roleInfo}}</label>
                <input type="hidden" id="roleID" name="roleID" value="{{roleID}}" />
            </td>
            <td colspan="2" style="text-align: right">
                <a href="{{siteDomain}}Admin/User/RoleList?userID={{userID}}" style="margin-right:20px;">返回用户绑定角色列表</a>
                <input type="button" id="btBind" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="绑定" />
            </td>
        </tr>
    </table>
</div>
<div class="inputdiv">
    <table class="inputtable">
        <tr>
            <td colspan="3">
                角色搜索：
            </td>
        </tr>
        <tr>
            <td style="width:100px">
                角色名：
            </td>
            <td style="width: 200px;">
                <input type="text" id="roleName" name="roleName" value="{{roleName}}" />
            </td>
            <td style="text-align: right">
                <input type="submit" id="btSearch" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
</div>
</form>
<div class="showdiv">
    <table class="showtable">
        <tr class="head">
            <td style="width:40px">
                编号
            </td>
            <td style="width:60px">
                角色名称
            </td>
            <td style="width:50px">
                操作
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td>
                {{ r['id'] }}
            </td>
            <td id="roleName_{{ r['id'] }}">
                {{ r['name'] }}
            </td>
            <td>
                <a href="javascript:" onclick="UserRole.select('{{r['id']}}');">选择</a>
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
<script type="text/javascript" language="javascript">
    <!--
    var UserRole = {
        select: function (id) {
            $('#roleInfo').html($('#roleName_' + id).html());
            $('#roleID').val(id);
        },
        bind: function () {
            var roleID = $('#roleID').val();
            var userID = $('#userID').val();
            if (roleID == '') {
                Common.alert('请先选择角色');
                return;
            }

            $.post('/Admin/User/RoleBind', { 'userID': userID, 'roleID': roleID, 'ajax': 'ajax'},
                 function (data) {
                     if (0 == data.code) {
                         $('#roleInfo').html('');
                         $('#roleID').val('');
                         Common.alert('操作成功');
                     } else {
                         Common.alert('操作失败,' + data.msg);
                     }
                 }, "json");
        }
    };

    $(document).ready(function () {
        $('#roleID').bind('change', function () {
            $('#btSearch').click();
        });
        $('#btBind').bind('click', function () {
            UserRole.bind();
        });
    });
    //-->
</script>
{% end %}