{% extends "base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
    <div class="userinfo" style="position:relative; margin-top:-30px;">
        欢迎您：{{user['realName']}}&nbsp;&nbsp;&nbsp;<a href="{{serviceSiteDomain}}PassWordEdit">修改密码</a><a href="{{serviceSiteDomain}}Logout" class="logout">退出登录</a>
    </div>
</div>
<div class="showdiv">
    <div style="height:150px;"></div>
    {% for app in apps %}
    <div style="padding-left:10px; width:24%; float:left; height:35px; line-height:24px; font-size:16px; text-align:left;">前往：<a href="{{serviceSiteDomain}}AppGoto?appCode={{app['code']}}" target="_blank">{{app['name']}}</a></div>
    {% end %}
</div>
{% end %}