{% extends "base_s_bs.html" %} {% block head %} {% end %} {% block content %}


<div class="container">
    <div style="height:200px;" id="123"></div>
    {% for app in apps %}
    <div style="padding-left:10px; margin-bottom:20px; width:24%; float:left; height:35px; line-height:24px; font-size:16px; text-align:left;"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;<a href="{{serviceSiteDomain}}AppGoto?appCode={{app['code']}}" class="btn btn-primary" target="_blank">{{app['name']}}</a></div>
    {% end %}
</div>
{% end %}