{% extends "base.html" %} {% block head %}
<style type="text/css">
    body, table, input, textarea, select
    {
        font-family: 微软雅黑,Verdana,sans-serif,宋体;
    }
    .logintable
    {
        border-collapse: collapse;
        border: none;
        width: 400px;
    }
    .logintable td
    {
        border: solid #000 1px;
        height: 30px;
        padding: 3px 0 3px 3px;
        text-align: left;
    }
    .logintable td input
    {
        width: 200px;
        height: 24px;
        font-size: 18px;
    }
</style>
{% end %} {% block body %}
<table style="height: 500px; width: 100%;">
    <tr>
        <td style="height: 50px;">
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center">
            <form action="{{ request.path }}" method="post">
            <table class="logintable">
                <tr>
                    <td colspan="2">
                        {{title}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        帐号：
                    </td>
                    <td>
                        <input type="text" name="userName" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        密码：
                    </td>
                    <td>
                        <input type="password" name="passWord" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" style="text-align:center;">
                        <input type="hidden" name="appCode" value="{{ appCode }}" />
                        <input type="hidden" name="backUrl" value="{{ backUrl }}" />
                        <input type="submit" value="登录" style="height: 30px; line-height:20px; width: 100px; cursor: pointer;" />
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>
{% end %}