{% extends "base_bs.html" %} {% block head %}

{% end %} {% block body %}

<div class="container">
  <form class="form-signin" action="{{ request.path }}" method="post">
    <h1 class="form-signin-heading">用户登录:</h1>
    <br />
    <br />
    <input type="text" class="form-control" data-toggle="hover" data-original-title="输入您的帐号" data-placement="right" name="userName" placeholder="您的账号：" required autofocus>
    <br />
    <input type="password" class="form-control" data-toggle="hover" data-original-title="输入您的密码" data-placement="right" name="passWord" placeholder="您的密码：" required>
    <!-- <label class="checkbox">
      <input type="checkbox" value="remember-me"> 记住我
    </label> -->
    <input type="hidden" name="appCode" value="{{ appCode }}" />
    <input type="hidden" name="backUrl" value="{{ backUrl }}" />
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <span class=".glyphicon .glyphicon-search"></span>登录</button>
  </form>
    <div class="alert alert-info">友情提示：不支持IE6-8浏览器，建议使用更高级浏览器版本，谢谢。</div>
</div>
{% end %}