{% extends "base_s_bs.html" %} {% block head %}
{% end %} {% block content %}
<div class="container">
    <form class="form-signin" action="{{ request.path }}" method="post">
        <h1 class="form-signin-heading">修改密码:</h1>
        <br />
        <br />
        <input type="password" class="form-control" name="oldPassWord" placeholder="原始密码：" data-toggle="hover" data-original-title="输入您的原始密码" data-placement="right" required>
        <br />
        <input type="password" class="form-control" name="newPassWord1" placeholder="新密码：" data-toggle="hover" data-original-title="输入您的新密码" data-placement="right" required>
        <br />
        <input type="password" class="form-control" name="newPassWord2" placeholder="再次输入新密码：" data-toggle="hover" data-original-title="输入您的新密码" data-placement="right" required>
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label> -->
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">修改密码</button>
    </form>
</div>

{% end %}