{% extends "base_s_bs.html" %} {% block head %}
<style type="text/css">
    body, table, input, textarea, select
    {
        font-family: 微软雅黑,Verdana,sans-serif,宋体;
    }
    .logintable
    {
        border-collapse: collapse;
        border: none;
        width: 400px;
    }
    .logintable td
    {
        border: solid #000 1px;
        height: 30px;
        padding: 3px 0 3px 3px;
        text-align: left;
    }
    .logintable td input
    {
        width: 200px;
        height: 24px;
        font-size: 18px;
    }
</style>
{% end %} {% block content %}
<div class="container">
    <form class="form-signin" action="{{ request.path }}" method="post">
        <h1 class="form-signin-heading">修改密码:</h1>
        <br />
        <br />
        <input type="password" class="form-control" name="oldPassWord" placeholder="原始密码：" required autofocus>
        <br />
        <input type="password" class="form-control" name="newPassWord1" placeholder="新密码：" required>
        <br />
        <input type="password" class="form-control" name="newPassWord2" placeholder="再次输入新密码：" required>
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label> -->
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">修改密码</button>
    </form>
</div>

{% end %}