{% extends "base.html" %} {% block head %}
<style type="text/css">
    body, table, input, textarea, select
    {
        font-family: 微软雅黑,Verdana,sans-serif,宋体;
    }
    .logintable
    {
        border-collapse: collapse;
        border: none;
        width: 400px;
    }
    .logintable td
    {
        border: solid #000 1px;
        height: 30px;
        padding: 3px 0 3px 3px;
        text-align: left;
    }
    .logintable td input
    {
        width: 200px;
        height: 24px;
        font-size: 18px;
    }
</style>
{% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
    <div class="userinfo" style="position:relative; margin-top:-30px;">
        欢迎您：{{user['realName']}}&nbsp;&nbsp;&nbsp;<a href="{{serviceSiteDomain}}AppList">应用列表</a><a href="{{serviceSiteDomain}}Logout" class="logout">退出登录</a>
    </div>
</div>
<div class="showdiv">
    <table style="height: 500px; width: 100%;">
    <tr>
        <td style="height: 50px;">
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center">
            <form action="{{ request.path }}" method="post">
            <table class="logintable">
                <tr>
                    <td colspan="2">
                        {{title}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        原始密码：
                    </td>
                    <td>
                        <input type="password" name="oldPassWord" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        新密码：
                    </td>
                    <td>
                        <input type="password" name="newPassWord1" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        再新密码：
                    </td>
                    <td>
                        <input type="password" name="newPassWord2" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" style="text-align:center;">
                        <input type="submit" value="修改" style="height: 30px; line-height:20px; width: 100px; cursor: pointer;" />
                        <a href="{{serviceSiteDomain}}AppList">返回应用列表</a>
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>
</div>

{% end %}